:root {
  --bg-color: #f2f2f2;
  --button-primary: #d8d9d7;
  --button-secondary: #73706c;
  --text-color: #0d0d0d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: var(--bg-color);
  color: var(--button-secondary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  display: flex;
  max-width: 75%;
}

/* Components */

.top-section__title {
  font-size: clamp(2rem, 5vw, 6rem);
  letter-spacing: 1rem;
  text-indent: 1rem;
}
.preview-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.control-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.control-area__sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.slider__label {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.slider__control {
  appearance: none;
  height: 1rem;
  background-color: var(--button-primary);
}

.slider__control::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--button-secondary);
}
.control-area__size,
.control-area__density {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.control-area__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.control-area__button {
  font-family: inherit;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  background-color: var(--button-primary);
  color: var(--button-secondary);
  border: 0;
  width: 100%;
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

/* .control-area__button:hover {
  background-color: var(--button-secondary);
  color: var(--button-primary);
} */

@media (min-width: 47.8125rem) {
  canvas {
    display: flex;
    max-width: 30%;
  }

  .control-area__button:hover {
    background-color: var(--button-secondary);
    color: var(--button-primary);
  }
}
