* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  padding: 6rem;

  /* background-color:; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  display: flex;
  max-width: 38%;
  /* max-width: 650px; */
  /* height: 50%; */
}

/* Components */
.preview-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}
.control-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.control-area__size,
.control-area__density {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.control-area__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
